<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add School</title>
</head>
<body>
<h2>Registration School</h2>
<form method="post" action="/add-school">
    <table>
        <tr>
            <td>Name:</td>
            <td><input name="name" /></td>
        </tr>
        <tr>
            <td>CreatedYear:</td>
            <td><input name="createdyear" type="date" /></td>
        </tr>
        <br><br/>

    </table>
    <br><br/>
    <tr>
        <td><input type="submit" value="Add" /></td>
    </tr>
</form>


</body>
</html>