<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/edit-grades" name="action">
    <table>
        <tr>
            <td>Id:</td>
            <td><input name="id" /></td>
        </tr>
        <tr>
            <td>Value:</td>
            <td><input name="value" /></td>
        </tr>
        <br><br/>

    </table>
    <br><br/>
    <tr>
        <td><input type="submit" value="Edit"/></td>
    </tr>
</form>
</body>
</html>